version: "3.8"

services:
  app:
    build: ./app
    ports:
      - "8080:8080"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./monitoring:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
